{{> header}}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <img src="assets/images/simoncito-con-frio.jpg" alt="" class="img-thumbnail">
        </div>

        <div class="col-4">
            <h1>Acerca de</h1>
            <ul>
                <li>Nombre: {{ capitalizar nombre }}</li>
                <li>Edad: {{ edad }}</li>
                <li>Poder: {{ poder }}</li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}